<div ng-controller='appointmentController'>
<h1>New Appointment</h1>

<div ng-show="isError">
		<ul>
			<li ng-repeat="error in errors">{{error.error}}</li>
		<ul>
	</div>

<form>
Date: <input type='date' ng-model='new_appointment.date'> Time: <select ng-model='new_appointment.time'>
									<option value='8:00 AM'>8:00AM</option>
									<option value='9:00 AM'>9:00AM</option>
									<option value='10:00 AM'>10:00AM</option>
									<option value='11:00 AM'>11:00AM</option>
									<option value='12:00 PM'>12:00PM</option>
									<option value='1:00 PM'>1:00PM</option>
									<option value='2:00 PM'>2:00PM</option>
									<option value='3:00 PM'>3:00PM</option>
									<option value='4:00 PM'>4:00PM</option>
									<option value='5:00 PM'>5:00PM</option>
								</select><br>
Complain: <textarea ng-model='new_appointment.complain'></textarea>
<!-- <a href="#/home">sdfds</a> -->
<input type='submit' value='Add Appointment' ng-click='addAppointment(new_appointment)'>
</form>

</div>